html{	
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	list-style-position: inside;
	min-width: 320px;
	background: url(../img/banner.jpg) repeat center top;
	background-size: cover;
	background-attachment: fixed;
	scroll-behavior: smooth;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2%;
}
h1{
	font-family: 'Exo 2', sans-serif;
	font-size: 4em;
	color: #d5d5d5;
	text-shadow: 2px 2px 3px rgba(0,0,0,.75);	
}
h2{ 	
	font-family: Montserrat, sans-serif;
	font-size: 2.5em;
	color: #d5d5d5;
	margin: 70px auto;
	text-align: center;
}
h3{
	font-size: 1.8em;
	color: #666;
	background-image: url(../img/bottom_line.png);
	background-size: 100% 12px;
	background-repeat: no-repeat;
	background-position: 0 55px;
	padding: 20px 0 20px 40px;
	clear: both;
}
ul, p{
	font-family: Montserrat, sans-serif;
	font-size: 1.4em;
	line-height: 1.4;
}
img{
	max-width: 100%;
}
/*=====================header=====================================================*/
header p{
	font-family: 'Exo 2', sans-serif;
	font-size: 1em;
	letter-spacing: 6px;
	color: #fe1919;
	padding-left: 5px;	
}
header .container{
	display: flex;
	flex-flow: row wrap;
}
.giap_logo{
	flex: 0 0 20%;
	align-self: center;
}
.giap_logo figure{
	width: 100px;
	margin: 0 auto;
}
.giap_logo figcaption{
	width: 100px;	
	margin: 0 auto;
	background-color: #324999;	
	border-radius: 5px;	
	text-align: center;
}
.giap_logo a{
	font-family: serif;
	color: #d5d5d5;
}
.giap_logo img{
	display: block;
	margin: 0 auto;
}
.name{
	flex: 0 0 80%;
	align-self: center;
}
.main_nav{
	flex: 0 0 100%;  
	display: flex;
	flex-flow: row wrap;
    align-items: center;
    margin-top: 20px;
}
.main_nav a{
	flex: 1;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	font-family: 'Exo 2', sans-serif;
	font-size: 1.2em;
	letter-spacing: 2px;
	color: rgb(180,180,180);	
	outline: none;
	padding: 5px 0 15px 0;
	border-bottom: 3px solid #666;
	transition: all .3s;
}
.main_nav a:hover{
	color: #d5d5d5;
	border-bottom: 3px solid #d5d5d5;
}
.home .homeLink,
.aboutUs .aboutUsLink,
.team .teamLink,
.partners .partnersLink,
.contacts .contactsLink{
	border-bottom: 3px solid rgba(50, 73, 153, 1);
	color: #d5d5d5;
}
.mobile_nav_button{
	display: none;
}
/*=====================header=====================================================*/
/*=====================article=====================================================*/
article{	
	background-color: white;
	padding: 20px 0;
	min-height: calc(100vh - 374.333px - 21.3666px);
}
.fig_left{
	float: left;
	margin: 20px 20px 0 0;
}
.fig_right{
	float: right;
	margin: 20px 0 0 20px;
}
article ul, article p{
	margin-top: 20px;
}
article p{
	line-height: 1.6;
}
/*=====================article=====================================================*/
/*=====================footer=====================================================*/
footer{	
	background-color: #000d13;
	clear: both;
}
.copyright{	
	text-align: center;
	padding: 3px 0;
}
.copyright p{
	font-size: 0.8em;
	color: #4573D5;
}
.copyright a{
	color: #666666;
	transition: .2s;
}
.copyright a:hover{
	color: #a5a5a5;
}
/*=====================footer=====================================================*/
/* стили для ширины меньше компьютерных мониторов */
/* стили для ширины 1023 пикселов и ниже */
@media (max-width: 1023px) {
	
}
/* стили для ширины меньше компьютерных мониторов */
/* стили для ширины 700 пикселов и ниже */
@media (max-width: 699px) {
	h1{
		font-size: 3em;
	}
	h2{
		font-size: 2em;
		margin: 20px auto;
	}
	header p{
		font-size: 0.8em;
		letter-spacing: 4px;
	}
	.giap_logo{
		margin-top: 5px;
	}
	.giap_logo figure{
		width: 80px;
	}
	.giap_logo figcaption{
		display: none;
	}
	.main_nav{
		margin-top: 5px;
	}
	.main_nav a{	
		font-size: 1em;
		letter-spacing: 1px;
		padding-bottom: 10px;
	}
}
/* стили для ширины меньше фаблетов */
/* стили для ширины 549 пикселов и ниже */
@media (max-width: 549px) {
	.main_nav{
		flex-flow: column wrap;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		background-color: rgba(20,20,20,.9);
		z-index: 99;
	}
	.main_nav a{
		font-size: 1.1em;
		min-width: 180px;
		padding: 5px 0 5px 0;
		border-bottom: 1px solid #666;
		border-right: 4px solid #666;
		border-left: 4px solid #666;
	}
	.main_nav a:first-of-type{
		margin-top: 10px;
		border-top: 1px solid #666;
	}
	.main_nav a:last-of-type{
		margin-bottom: 20px;
	}
	.main_nav a:hover{
		color: #d5d5d5;
		border-right: 4px solid #d5d5d5;
		border-left: 4px solid #d5d5d5;
		border-bottom: 1px solid #666;
	}
	.home .homeLink,
	.aboutUs .aboutUsLink,
	.team .teamLink,
	.partners .partnersLink,
	.contacts .contactsLink{
		border-right: 4px solid rgba(50, 73, 153, 1);
		border-left: 4px solid rgba(50, 73, 153, 1);
		border-bottom: 1px solid #666;
		color: #d5d5d5;
	}
	.giap_logo{
		flex: 0 0 20%;
	}
	.giap_logo figure{
		width: 45px;
	}	
	.name{
		flex: 0 0 60%;
		text-align: center;
	}
	h1{
		font-size: 2em;
		line-height: 1;
	}
	h2{
		font-size: 1.3em;
	}
	h3{
		font-size: 1.6em;
		color: #666;
		background-image: none;
		padding: 20px 0 10px 20px;
		border-bottom: 2px solid #fe1919;
	}
	header p{
		display: none;
	}	
	.mobile_nav_button{
		flex: 0 0 20%;
		display: block;
		font-size: 35px;
		color: #d5d5d5;
		text-align: center; 
		margin-top: 5px;
		z-index: 100;		
	}
	article{		
		padding: 10px 0;
		min-height: calc(100vh - 155px - 21.3666px);
	}
	.fig_left, .fig_right{
		float: none;
		margin: 10px auto;
	}	
	article ul, article p{
		margin-top: 10px;
		font-size: 1.2em;
	}		
}